# Copyright (c) 2017-2018,2020-2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT of THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1
    exec /system/bin/sh /system/bin/set_permissive.sh

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on early-init
    # setenforce 0 is invalid here; SELinux is handled by kernel cmdline.
    # We can't write to /tmp yet, so logging is moved to post-fs-data.

on post-fs-data
    # Mount /tmp early for logging
    mkdir /tmp 0777 root root
    mount tmpfs tmpfs /tmp mode=0777
    write /tmp/init_log "--- Mounted /tmp in post-fs-data ---"
    
    # Test writing to the newly mounted /tmp
    write /tmp/test.txt "Test write successful"
    write /tmp/init_log "--- Test write to /tmp/test.txt done ---"

    # Start the partition copy service
    start copy_partitions

on late-init
    # Execute the mapping script as a oneshot service
    start create_mappings

    # Format /metadata as ext4, create directories, and set permissions
    # This is done here to ensure it happens after all other mounts and services.
    umount /metadata
    exec u:r:recovery:s0 -- /system/bin/make_ext4fs -l 64M -a metadata /dev/block/by-name/metadata
    mount ext4 /dev/block/by-name/metadata /metadata noatime,nosuid,nodev,discard
    mkdir /metadata/ota 0770 system system
    mkdir /metadata/ota/snapshots 0770 system system
    mkdir /metadata/gsi 0770 system system
    mkdir /metadata/apex 0770 system system
    restorecon -R /metadata

service copy_partitions /system/bin/sh -c "/system/bin/copy_partitions.sh"
    class core
    user root
    group root
    seclabel u:r:recovery:s0
    oneshot

service create_mappings /system/bin/sh -c "/system/bin/create_mappings.sh"
    class core
    user root
    group root
    seclabel u:r:recovery:s0
    oneshot
    disabled  # This service will be enabled and started in late-init
